.tgm-custom-button {
	padding: 0 0 5px;
}
.tgm-custom-button span {
    font-size: 16px;
    color: #000;
}
.tgm-custom-button a.tgm-custom-button {
	display: inline-block;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset !important;
    background-color: #006CC9;
    color: #FFF !important;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 0 5px;
    padding: 4px 10px;
    text-decoration: none;
}
.tgm-custom-button a.tgm-custom-button:hover {
	background-color: #0952A9;
}
.tgm-note {
    font-size: 18px;
    margin: 15px 0 20px;
}

span.premium-link {
    color: #f18500;
}

.notice.guten-notice-layouts {
    position: relative;
}
.notice.guten-notice-layouts p {
    font-size: 16px;
}
.notice.guten-notice-layouts a.guten-noticemiss {
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 11px;
}
.notice.guten-notice-layouts i {
    color: #006CC9;
}

/* ---- Category ID Column ---- */
body.post-type-post.taxonomy-category .column-cat_id {
	width: 40px !important;
	font-size: 13px !important;
}
#guten-page-meta-box input.guten-slider-link {
	width: 100%;
    margin: 10px 0 0;
    padding: 12px;
    border-radius: 4px;
}
#guten-page-meta-box span.guten-span {
    margin: 0 15px 0 0;
    font-size: 11px;
}
#guten-page-meta-box input {
    margin: 0 2px 0 0;
}
#guten-page-meta-box p.guten-desc {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0 15px;
}

/* ---- Show / Hide Widget areas ---- */
body.guten-footer-standard.widgets-php #guten-site-footer-custom-1.widgets-sortables,
body.guten-footer-standard.widgets-php #guten-site-footer-custom-2.widgets-sortables,
body.guten-footer-standard.widgets-php #guten-site-footer-custom-3.widgets-sortables,
body.guten-footer-standard.widgets-php #guten-site-footer-custom-4.widgets-sortables,
body.guten-footer-standard.widgets-php #guten-site-footer-custom-5.widgets-sortables,
body.guten-footer-standard.widgets-php #guten-site-footer-social,

body.guten-footer-social.widgets-php #guten-site-footer-custom-1.widgets-sortables,
body.guten-footer-social.widgets-php #guten-site-footer-custom-2.widgets-sortables,
body.guten-footer-social.widgets-php #guten-site-footer-custom-3.widgets-sortables,
body.guten-footer-social.widgets-php #guten-site-footer-custom-4.widgets-sortables,
body.guten-footer-social.widgets-php #guten-site-footer-custom-5.widgets-sortables,
body.guten-footer-social.widgets-php #guten-site-footer-standard,

body.guten-footer-custom.guten-footer-custom-cols-1.widgets-php #guten-site-footer-custom-2.widgets-sortables,
body.guten-footer-custom.guten-footer-custom-cols-1.widgets-php #guten-site-footer-custom-3.widgets-sortables,
body.guten-footer-custom.guten-footer-custom-cols-1.widgets-php #guten-site-footer-custom-4.widgets-sortables,
body.guten-footer-custom.guten-footer-custom-cols-1.widgets-php #guten-site-footer-custom-5.widgets-sortables,

body.guten-footer-custom.guten-footer-custom-cols-2.widgets-php #guten-site-footer-custom-3.widgets-sortables,
body.guten-footer-custom.guten-footer-custom-cols-2.widgets-php #guten-site-footer-custom-4.widgets-sortables,
body.guten-footer-custom.guten-footer-custom-cols-2.widgets-php #guten-site-footer-custom-5.widgets-sortables,

body.guten-footer-custom.guten-footer-custom-cols-3.widgets-php #guten-site-footer-custom-4.widgets-sortables,
body.guten-footer-custom.guten-footer-custom-cols-3.widgets-php #guten-site-footer-custom-5.widgets-sortables,

body.guten-footer-custom.guten-footer-custom-cols-4.widgets-php #guten-site-footer-custom-5.widgets-sortables,
body.guten-footer-custom.widgets-php #guten-site-footer-standard,

body.guten-footer-none.widgets-php #guten-site-footer-custom-1.widgets-sortables,
body.guten-footer-none.widgets-php #guten-site-footer-custom-2.widgets-sortables,
body.guten-footer-none.widgets-php #guten-site-footer-custom-3.widgets-sortables,
body.guten-footer-none.widgets-php #guten-site-footer-custom-4.widgets-sortables,
body.guten-footer-none.widgets-php #guten-site-footer-custom-5.widgets-sortables,
body.guten-footer-none.widgets-php #guten-site-footer-standard,
body.guten-footer-none.widgets-php #guten-site-footer-social {
	display: none !important;
}

body.widgets-php .widgets-holder-wrap {
	box-shadow: none;
	border: 0;
}

body.widgets-php #sidebar-1,
body.guten-footer-standard.widgets-php #guten-site-footer-standard,
body.guten-footer-social.widgets-php #guten-site-footer-social,
body.guten-footer-custom.widgets-php #guten-site-footer-custom-1,
body.guten-footer-custom.widgets-php #guten-site-footer-custom-2,
body.guten-footer-custom.widgets-php #guten-site-footer-custom-3,
body.guten-footer-custom.widgets-php #guten-site-footer-custom-4,
body.guten-footer-custom.widgets-php #guten-site-footer-custom-5 {
	border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

/* ---- Dashboard Notice ---- */
.guten-admin-notice {
    position: relative;
    padding: 20px 15px 25px;
    border-left-color: #006CC9;
}
.guten-notice-renew {
    background-position: right 55px;
}
.guten-notice-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ababab;
    font-size: 11px;
    text-decoration: none;
}
.guten-notice-close::after {
    background: 0 0;
    color: #72777c;
    content: "\f153";
    font: 400 16px/20px dashicons;
    height: 20px;
    text-align: center;
    position: relative;
    top: 4px;
    margin: 0 0 0 4px;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.guten-notice-close:hover::after {
    color: #c00;
}
.guten-admin-notice h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #212121;
}
.guten-admin-notice h4 span {
    margin: 0 0 0 20px;
    color: #00b83f;
    font-size: 18px;
}
.guten-admin-notice h4 b {
    font-weight: normal;
    color: #006CC9;
}
.guten-admin-notice p {
    font-size: 15px;
    margin: 4px 0 0;
    color: #72777c;
}
.guten-admin-notice-blocks::after {
    display: block;
    content: '';
    clear: both;
}
.guten-admin-notice-block h5 {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #212121;
}
.guten-admin-notice-blocks {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin: 20px 0 0px;
    padding: 24px 10px 5px;
}
.guten-admin-notice-block {
    width: 29%;
    max-width: 350px;
    float: left;
    margin: 0 5% 0 0;
}
.guten-nomargin {
    margin: 0 0 0 2%;
    width: 30%;
}
.guten-admin-notice-block ul {
    margin: 0 0 20px;
    padding: 0;
}
.guten-admin-notice-block ul li {
    margin: 0 0 12px;
    padding: 0;
    font-size: 15px;
}
.guten-admin-notice-block img {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    max-width: 100%;
    height: auto;
}
.guten-admin-notice-block p {
    font-size: 14px;
    margin: 0 0 15px;
    padding: 0;
    color: #444;
}
.guten-admin-notice-btn,
.guten-admin-notice-btn-in {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset !important;
    background-color: #006CC9;
    color: #FFF !important;
    font-size: 13px;
    font-weight: 400;
    margin: 20px 0 0;
    padding: 12px 20px 13px;
    text-decoration: none;
}
.guten-admin-notice-btn-in {
    margin: 0 0 15px;
}
.guten-admin-notice-btn-grey {
    display: inline-block;
    border-radius: 3px;
    color: #555;
    border: 1px solid #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0 20px;
    padding: 12px 20px 13px;
    text-decoration: none;
}
.guten-admin-notice-btn:hover {
	background-color: #0952A9;
}
.guten-admin-notice-btn-grey:hover {
    background-color: #f2f2f2;
    border: 1px solid #a8a8a8;
    color: #222;
}
.guten-notice-renew .guten-admin-notice-btn {
    margin: 15px 0 0;
}
.guten-admin-notice p.guten-note {
    margin: 10px 0 -5px;
    font-size: 12px;
}
.guten-admin-notice p.guten-note b {
    color: #006CC9;
}

@media only screen and (max-width: 1024px) {
    .guten-admin-notice-block {
        width: 45%;
    }
    .guten-admin-notice-block.guten-nomargin {
        display: none;
    }
    .guten-arrow {
        background-image: none;
    }
}
@media only screen and (max-width: 870px) {
    .guten-admin-notice-block {
        width: 100%;
        margin: 0 0 30px;
    }
    .guten-admin-notice-btn {
        margin: 0 0 10px;
    }
    .guten-admin-notice-btn-grey {
        margin: 0 0 -20px;
    }
}
