.tgm-custom-button {
	padding: 0 0 5px;
}
.tgm-custom-button span {
    font-size: 16px;
    color: #000;
}
.tgm-custom-button a.tgm-custom-button {
	display: inline-block;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset !important;
    background-color: #006CC9;
    color: #FFF !important;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 0 5px;
    padding: 4px 10px;
    text-decoration: none;
}
.tgm-custom-button a.tgm-custom-button:hover {
	background-color: #0952A9;
}

.upgrade-page-inner-wrap {
	max-width: 980px;
	padding: 0 10px;
}
.upgrade-page-inner-wrap a {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: #005EAA;
}
.upgrade-page-inner-wrap a:hover {
	text-decoration: underline;
	color: #0952A9;
}
.clearboth {
	clear: both;
}

.upgrade-page-top {
	padding: 20px 0 5px;
	text-align: center;
}

a.upgrade-btn {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
	margin: 4px auto;
	padding: 2px 7px 3px;
	position: relative;
	top: -1px;
	text-align: center;
	background-color: #006CC9;
	color: #FFF;
	text-decoration: none;
}
a.upgrade-btn:hover {
	background-color: #0952A9 !important;
	color: #fff !important;
	text-decoration: none;
}

a.upgrade-page-link {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 13px;
	background-color: #006CC9;
	color: #FFF;
	text-decoration: none;
}
a.upgrade-page-link span {
	display: inline-block;
    vertical-align: top;
    padding: 16px 15px 16px;
    font-size: 14px;
    text-align: center;
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2);
}
a.upgrade-page-link em {
	display: inline-block;
    vertical-align: top;
	padding: 16px 18px 16px;
	text-align: center;
	box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 18px;
	text-transform: uppercase;
}
a.upgrade-page-link:hover {
	background-color: #0952A9;
	color: #fff;
}

.upgrade-page-left {
	min-height: 40px;
	float: left;
	width: 66%;
	margin: 30px 4% 15px 0;
}
.upgrade-page-left-box {
	margin: 0 0 35px;
}
.upgrade-page-left-box-left {
	width: 70%;
	float: left;
	margin: 0 4% 0 0;
}
.upgrade-page-left-box-right {
	width: 25%;
	float: left;
	background-color: rgba(0, 0, 0, 0.07);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
	border: 1px solid rgba(0, 0, 0, 0.18);
	border-radius: 2px;
}
.upgrade-page-left-box-right img {
	display: block;
	width: 100%;
	height: auto;
}

.upgrade-page-right {
	min-height: 40px;
	float: left;
	width: 30%;
	padding: 60px 0 0;
}
.upgrade-page-right-box {
	background-color: #F9F9F9;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
	border: 1px solid rgba(0, 0, 0, 0.18);
	border-radius: 3px;
	margin: 0 0 30px;
	padding: 5px 20px 10px;
	box-sizing: border-box;
}
.upgrade-page-right .upgrade-page-sub-title {
	margin: 0 0 12px 10px;
}

.guten-upgrade-page-inner-wrap {
	background-color: #fbfbfb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    overflow: hidden;
}
.guten-upgrade-page-inner-wrap h3 {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.14) inset;
	margin: 0;
    padding: 20px 20px 20px;
    font-size: 18px;
    font-weight: 400;
}
.guten-upgrade-page-inner-wrap h3 i {
	color: #9e9e9e;
    display: inline-block;
	font-style: normal;
	position: relative;
}
.guten-upgrade-page-inner-wrap h3 i::after {
    display: block;
    content: '';
    width: 4px;
    height: 20px;
    position: absolute;
	top: -2px;
    left: 16px;
    background-color: #007bd57a;
    -webkit-transform: skewX(-25deg);
    transform: skewX(58deg);
}
.guten-upgrade-page-inner-wrap h3 span {
	display: block;
	font-size: 12px;
	color: #a2a2a2;
	margin: 4px 0 0;
}
.guten-upgrade-page-inner-wrap h3 div,
.guten-upgrade-block-left span {
	display: block;
	font-size: 12px;
    color: #8c8b8b;
    margin: 4px 0 0;
}
.guten-upgrade-result-button {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset !important;
	margin: 0;
	padding: 9px 10px 10px;
    min-width: 180px;
	text-align: center;
	font-size: 14px;
	background-color: #006CC9;
	color: #FFF !important;
	text-decoration: none !important;
}
.guten-upgrade-result-button:hover {
	background-color: #0952A9;
}
.upgrade-page-right-box-img .guten-upgrade-result-button {
	padding: 4px 10px 5px;
    font-size: 13px;
}

.guten-upgrade-block {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px;
}
.guten-upgrade-block-alt {
	background-color: #f3f3f3;
}
.guten-upgrade-block:after {
	display: block;
	content: '';
	clear: both;
}
.guten-upgrade-block-left {
	width: 65%;
	float: left;
	padding: 10px 20px 0 0;
    box-sizing: border-box;
    font-size: 14px;
}
.guten-upgrade-block-right {
	width: 35%;
    float: right;
    text-align: right;
    padding: 10px 5px;
    box-sizing: border-box;
}

.guten-upgrade-p {
	margin: 0 auto;
    padding: 25px 20px 0;
    font-size: 15px;
    text-align: center;
    max-width: 670px;
}
.guten-upgrade-p strong {
	color: #000;
}
.guten-upgrade-p strong,
.guten-upgrade-p a {
    font-size: 17px;
}

.upgrade-rating-slider-wrap {
	position: relative;
	margin: 8px 0 10px;
}
.upgrade-rating-slider-wrap-remove {
	height: 100px;
	overflow: hidden;
	background-image: url(../../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.upgrade-rating-slider-prev,
.upgrade-rating-slider-next {
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 25px;
	position: absolute;
	top: 50%;
	margin: -6px 0 0;
	z-index: 4;
	cursor: pointer;
	opacity: 0;
	
	-webkit-transition: opacity 0.2s ease 0s;
    -moz-transition: opacity 0.2s ease 0s;
    -ms-transition: opacity 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
}
.upgrade-rating-slider-prev {
	background-position: left 0;
	left: -17px;
}
.upgrade-rating-slider-next {
	background-position: right 0;
	right: -17px;
}
.upgrade-rating-slider-wrap-remove .upgrade-rating-slider {
	visibility: hidden;
}
.upgrade-rating-slider-block {
	float: left;
}
.upgrade-rating-slider-block-title {
	background-image: url(../images/upgrade_stars.png);
	background-repeat: no-repeat;
	background-position: right 0;
	padding: 3px 0 2px 0;
	margin: 0 0 8px;
	font-weight: 600;
	font-size: 14px;
	color: #000;
}
.upgrade-rating-slider-wrap:hover .upgrade-rating-slider-prev,
.upgrade-rating-slider-wrap:hover .upgrade-rating-slider-next {
	opacity: 1;
}
.guten-upgrade-footer {
	background-color: #72777c;
    padding: 6px 10px 7px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
}
.guten-upgrade-footer a {
	color: inherit;
}

.upgrade-page-right-box-img {
	text-align: center;
	color: #a5a5a5;
	margin: 0 0 -12px;
	padding: 0 10px;
}
.upgrade-page-right-box-img h4 {
	margin: 0 0 8px;
    padding: 0;
	font-size: 20px;
	color: #424242;
}
.upgrade-page-right-box-image {
	background-image: url(../images/page-layouts-img.png);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 100% auto;
	height: 132px;
	margin: 15px 0 0;
}

@media only screen and (max-width: 1020px) {
	
	.upgrade-page-left,
	.upgrade-page-right {
		width: 100%;
		float: none;
		margin: 0;
	}
	.upgrade-page-left {
		margin: 30px 0 0;
	}
	
}

@media only screen and (max-width: 620px) {
	
	.guten-upgrade-block-left {
		width: 100%;
		float: none;
		margin: 0 0 15px;
	}
	.guten-upgrade-block-right {
		width: 100%;
		max-width: 200px;
		float: none;
		margin: 0 auto;
	}
	
}
